.edumiga-navbar {
  display: block;
  min-height: 40px;

  @media(max-width: 767px) {
  }

  .edumiga-navbar-menu {
    display: inline-flex;
  }

  .edumiga-navbar-right {
    display: inline-block;
    margin-left: auto;
  }

  .edumiga-navbar-avatar {
    width: 2em;
    height: 2em;
    position: absolute !important;
    left: 0;
    top: 4px;
  }
}

